html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e5e5e5;
    line-height: 150%;
}

/*------NAVIGACE----*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    color: #48418e;
}

.navi {
    padding: 1rem 2rem;
    flex: 1 1 50%;
    text-decoration: none;
    text-align: center;
}

.navi:hover,
.navi:focus,
.navi:active {
    color: #fff;
    background-color: #48418e;
}


.appka {
    text-transform: uppercase;
    font-weight: bold;
}

/*------HLAVIČKA----*/

header {
    background-image: linear-gradient(to right, rgba(37,19,61,1) 0%, rgba(170,84,119,1) 75%);
    margin: 0;
    color: white;
    padding: 1rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.5rem;
}

.slogan {
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.5rem 0;
}

.button1,
.button2 {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 20rem;
}

.buttony a:hover,
.buttony a:focus,
.buttony a:active {
    background-color:#48418e;
}

/*------OBSAH----*/

.obsah {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.cestuj,
.chatuj,
.dobrodruzstvi {
    display: flex;
    flex-wrap: wrap-reverse;
}

h2,
img,
p {
    flex: 1 1 100%;
}

h2 {
    color: #48418e;
    text-align: center;
}

p {
   text-align: center;
   margin: 0;  
   padding: 0.5rem 2rem;
   font-size: 14px;
   order: -1;
} 

/*------PATIČKA----*/

footer {
    margin: 0;
    padding: 0.5rem 2rem;
    color: white;
    background-color: #48418e;
    text-align: center;
}

@media screen and (min-width: 560px) {

    nav {
        flex-wrap: nowrap;
        justify-content: start;
    }

    .navi {
        padding: 1rem 0.5rem 1rem 2rem;
        max-width: 9rem;
    }

    .zdarma {
        max-width: 12rem;
    }
   


    h1 {
        font-size: 4.5rem;
        padding: 2rem 0;
    }

    .slogan {
        font-size: 2.5rem;
        padding: 2rem 0;
        line-height: 150%;
    }

    .button1,
    .button2 {
        display: inline-block;
        font-size: 21px;
        width: 14rem;
        height: 4rem;
        margin: 0 1rem 1rem 0;
    }


    .obsah {
        flex-wrap: nowrap;
    }

    .cestuj,
    .chatuj,
    .dobrodruzstvi {
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    p{
        order: 1;
        padding-top: 0;
    }
   

    footer {
        margin-bottom: 5rem;
    }
}


@media screen and (min-width: 1000px) {

    .telo {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 1px 10px;
        padding: 0;
    }

    body {
       padding: 0 5rem 1rem 5rem;
   }

    header {
        background-image: 
            url("images/telefon.png"),
            linear-gradient(to right, rgba(37,19,61,1) 25%, rgba(170,84,119,1) 100%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;    
        padding-right: 20rem;
    }

    .button1,
    .button2 {
        font-size: 1rem;
        width: 12rem;
    }

   .obsah {
        flex-wrap: nowrap;
    }

    .cestuj,
    .chatuj,
    .dobrodruzstvi {
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    p{
        order: 1;
        padding-top: 0;
        font-size: 16px;
    }
     
}
