html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e5e5e5;
    line-height: 150%;
}

/*------NAVIGACE----*/

.navigace {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    color: #48418e;
    padding-top: 1rem;
}

.navi {
    padding: 1rem 2rem;
    flex-grow: 1 1 50%;
}

.appka {
    text-transform: uppercase;
    font-weight: bold;
}

/*------HLAVIČKA----*/

.hlavicka {
    background-image: linear-gradient(to right, rgba(37,19,61,1) 0%, rgba(170,84,119,1) 75%);
    margin: 0;
    color: white;
    padding: 1rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.5rem;
}

.slogan {
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.5rem 0;
}

.button1,
.button2 {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid #fff;
}

.button1 a:hover,
.button1 a:focus,
.button1 a:active, 
.button2 a:hover,
.button2 a:focus,
.button2 a:active {
    background-color:#48418e;
}

/*------OBSAH----*/

.obsah {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.cestuj,
.chatuj,
.dobrodruzstvi {
    display: flex;
    flex-wrap: wrap-reverse;
}

h2,
img,
p {
    flex: 1 1 100%;
}

h2 {
    color: #48418e;
    text-align: center;
}

p {
   text-align: center;
   margin: 0;  
   padding: 0.5rem 2rem;
   font-size: 14px;
   order: -1;
} 

/*------PATIČKA----*/

.paticka {
    margin: 0;
    padding: 0.5rem 2rem;
    color: white;
    background-color: #48418e;
    text-align: center;
}

@media screen and (min-width: 460px) {

/*------NAVIGACE----*/

    .navigace {
        justify-content: start;
        padding-top: 1rem;
    }

    .navi {
        padding: 1rem;
    }

    .appka {
        padding-left: 2rem;
    }

/*------HLAVIČKA----*/

    h1 {
        font-size: 4.5rem;
        padding: 2rem 0;
    }

    .slogan {
        font-size: 2.5rem;
        padding: 2rem 0;
    }

    .button1,
    .button2 {
        display: inline-block;
        font-size: 21px;
        width: 14rem;
        height: 4rem;
        margin: 0 1rem 1rem 0;
    }

/*------OBSAH----*/

    .obsah {
        flex-wrap: nowrap;
    }

    .cestuj,
    .chatuj,
    .dobrodruzstvi {
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    p{
        order: 1;
        padding-top: 0;
    }
   
/*------PATIČKA----*/

    .paticka {
        margin-bottom: 5rem;
    }

    body {
        border-bottom: 1px solid rgb(75, 74, 74);
    }
}


@media screen and (min-width: 1200px) {

    main {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 1px 10px;
        padding: 0;
    }

    body {
       padding: 0 5rem 1rem 5rem;
       border-bottom: 1px solid rgb(105, 105, 105);
   }

/*------NAVIGACE----*/

    .navigace {
        padding-top: 0;
    }
/*------HLAVIČKA----*/

.hlavicka {
    background-image: 
        url("images/telefon.png"),
        linear-gradient(to right, rgba(37,19,61,1) 0%, rgba(170,84,119,1) 75%);
    background-repeat: no-repeat;
    background-size: contain;
    
}
    .button1,
    .button2 {
        font-size: 1rem;
        width: 12rem;
    }

/*------OBSAH----*/

    .obsah {
        flex-wrap: nowrap;
    }

    .cestuj,
    .chatuj,
    .dobrodruzstvi {
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    p{
        order: 1;
        padding-top: 0;
        font-size: 16px;
    }

/*------PATIČKA----*/

    .paticka {
        margin: 0;
    }

   


}

